[mysqld]
bind-address = 127.0.0.1
skip-name-resolve
socket = /run/mysqld/mysqld.sock
pid-file = /run/mysqld/mysqld.pid
datadir = /var/lib/mysql

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[client]
socket = /run/mysqld/mysqld.sock
default-character-set = utf8mb4
